<a href="https://colab.research.google.com/github/rahulmyakal/LetsUpgrade_January_2021_batch-/blob/main/LetsUpgrade_Day_4_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Question 1
 
Write a Python function to find the Max of three numbers.

In [2]:
 
def maximum(a, b, c): 
 
    if (a >= b) and (a >= c): 
 
        largest = a 
 
  
 
    elif (b >= a) and (b >= c): 
 
        largest = b 
 
    else: 
 
        largest = c 
 
          
 
    return largest
a =62
 
b =63
 
c =73
 
print(maximum(a, b, c))

73

 Question 2

Write a Python function that checks whether a passed string is palindrome or not

In [8]:
def isPalindrome(s):
 
    return s == s[::-1]
 
 
# Driver code
 
s = input("enter a STRING or NUMBER to find out palindrome or not!\n")
 
ans = isPalindrome(s)
 
 
if ans:
 
    print("Yes")
 
else:
 
    print("No")

enter a STRING or NUMBER to find out palindrome or not!
madam
Yes

 Question 3
 
Write a Python function that accepts a string and calculate the number of uppercase letters and
lowercase letters

In [14]:
string=input("Enter string:")
count1=0
count2=0
for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of LOWERCASE characters is:")
print(count1)
print("The number of UPPERCASE characters is:")
print(count2)

Enter string:RAHUL rahul
The number of LOWERCASE characters is:
5
The number of UPPERCASE characters is:
5

Question 4
 
Write a Python function to sum all the numbers in a list

In [27]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((2,4,7,3,1)))

17

 Question 5
 
Write a Python function to multiply all the numbers in a list

In [29]:
 
def sum(numbers):
    total = 1
    for x in numbers:
        total =total*x
    return total
print(sum((1,2,3,4,5)))

120

 Question 6
 
Write a Python function that takes a list and returns a new list with unique elements of the first list

In [30]:
def unique_list(l):
  x = [ ]
  for a in l:
    if a not in x:
      x.append(a)
  return x
 
print(unique_list([1,1,2,2,3,3,4,4,5,5,6,6,7,7]))

[1, 2, 3, 4, 5, 6, 7]